In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('supershops.csv')
df.head(2)

   Marketing Spend  Administration  Transport   Area     Profit
0        114523.61       136897.80  471784.10  Dhaka  192261.83
1        162597.70       151377.59  443898.53    Ctg  191792.06

In [29]:
x = df.iloc[:,[ 0, 1, 2]]
y = df.iloc[:,[ -1]]
x.head(2)

   Marketing Spend  Administration  Transport
0        114523.61       136897.80  471784.10
1        162597.70       151377.59  443898.53

In [17]:
y.head(2)

      Profit
0  192261.83
1  191792.06

# Normalization

In [39]:
from sklearn.preprocessing import MinMaxScaler
m = MinMaxScaler()

df.iloc[:,[ 0, 1, 2]]= m.fit_transform(x) # still on dataframe
df.iloc[:,[ 0, 1, 2]].head(2)

   Marketing Spend  Administration  Transport
0         0.692617        0.651744   1.000000
1         0.983359        0.761972   0.940893

In [40]:
x1 = m.fit_transform(x) # numpy array
x1

array([[0.69261666, 0.65174393, 1.        ],
       [0.98335946, 0.76197173, 0.94089337],
       [0.92798459, 0.37957895, 0.8646636 ],
       [0.87313643, 0.51299839, 0.81223513],
       [0.85943772, 0.30532804, 0.77613557],
       [0.797566  , 0.3694479 , 0.76912588],
       [0.81412828, 0.73016111, 0.27071031],
       [0.7880179 , 0.71745725, 0.68649342],
       [0.72901786, 0.74173276, 0.66049977],
       [0.74590551, 0.43692884, 0.64644319],
       [0.61635061, 0.45150637, 0.48573267],
       [0.60884455, 0.30836422, 0.52936195],
       [0.56766982, 0.57883556, 0.52956308],
       [0.55635219, 0.64106561, 0.53555202],
       [0.72539353, 0.8013272 , 0.54370828],
       [1.        , 0.54302973, 0.55486446],
       [0.47180821, 0.53527036, 0.56031151],
       [0.57246821, 0.71401273, 0.59894835],
       [0.55488118, 0.47877201, 0.62511553],
       [0.52264964, 0.77823604,        nan],
       [0.46116861, 0.47642362, 0.63305328],
       [0.47408436, 0.78021012, 0.63532724],
       [0.4475048 , 0.54429273, 0.64291963],
       [0.40842369, 0.4146383 , 0.64599195],
       [0.46594728, 0.3653876 , 0.29796428],
       [0.39107967, 0.67195793, 0.29242745],
       [0.45557444, 0.70684477, 0.28413435],
       [0.43609283, 0.58297807, 0.74861321],
       [0.39946683, 1.        , 0.25042853],
       [0.39676926, 0.77456642, 0.22709197],
       [0.37493063, 0.48992809, 0.19316302],
       [0.36974101, 0.77205322, 0.18698856],
       [0.38348453, 0.5932935 , 0.09768292],
       [0.33561668, 0.39413365, 0.45494286],
       [0.2807759 , 0.81005496, 0.44680961],
       [0.2782839 , 0.25703165, 0.43561799],
       [0.17335288, 0.57682456, 0.42631115],
       [0.26652654, 0.        , 0.41762624],
       [0.12234465, 0.11163611, 0.39269043],
       [0.23319442, 0.24130912, 0.3709309 ],
       [0.17390063, 0.51204073, 0.36626005],
       [0.16869099, 0.25446874, 0.34861436],
       [0.14297577, 0.34185188, 0.31370517],
       [0.09377566, 0.57930693, 0.07531871],
       [0.13412668, 0.78807166, 0.06005866],
       [0.0060492 , 0.5547241 , 0.0040356 ],
       [0.00795565, 0.49125975, 0.62976785],
       [0.        , 0.64054682, 0.        ],
       [0.00327821, 0.00350184, 0.        ],
       [0.        , 0.50014806, 0.09574943]])

In [ ]:
# similarly for Standardization, Robust Scaler, Max Absolute Scaler