In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('supershops.csv')
df.head(2)

   Marketing Spend  Administration  Transport   Area     Profit
0        114523.61       136897.80  471784.10  Dhaka  192261.83
1        162597.70       151377.59  443898.53    Ctg  191792.06

In [3]:
x = df.drop(["Profit"], axis=1)
y= df[["Profit"]]
x.head(2)

   Marketing Spend  Administration  Transport   Area
0        114523.61       136897.80  471784.10  Dhaka
1        162597.70       151377.59  443898.53    Ctg

In [4]:
y.head(2)

      Profit
0  192261.83
1  191792.06

# Standardization

In [5]:
from sklearn.preprocessing import StandardScaler
s = StandardScaler() 
for column in x.columns:
     if x.dtypes[column] != object:
            df[column] = s.fit_transform(df[[column]]) 
            
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.897913        0.560753   2.165287    Dhaka  192261.83
1         1.955860        1.082807   1.929843      Ctg  191792.06
2         1.754364       -0.728257   1.626191  Rangpur  191050.39
3         1.554784       -0.096365   1.417348    Dhaka  182901.99
4         1.504937       -1.079919   1.273550  Rangpur  166187.94

In [6]:
# similar for normalizations, Max abs scaler, Robust Scaler