In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('supershops.csv')
df.head(2)

   Marketing Spend  Administration  Transport   Area     Profit
0        114523.61       136897.80  471784.10  Dhaka  192261.83
1        162597.70       151377.59  443898.53    Ctg  191792.06

In [3]:
x = df.drop(['Profit', 'Area'], axis=1)
#df = df.drop(['col2', 'col4'], axis=1)
y = df[['Profit']]

x1 = x.copy()
x2 = x.copy()
x2 = x.copy()
x3 = x.copy()
x4 = x.copy()
x5 = x.copy()
x6 = x.copy()
x7 = x.copy()
x8 = x.copy()
x9 = x.copy()
x10 = x.copy()
#x.head()
#y.head()

Feature Transformation

# Normalization

In [4]:
# Normalization one by one 

from sklearn.preprocessing import MinMaxScaler
m = MinMaxScaler()
df[['Marketing Spend']] = m.fit_transform(df[['Marketing Spend']])
df.head(2)
# this not efficent as we may get lots coulmn as feature need better approach

   Marketing Spend  Administration  Transport   Area     Profit
0         0.692617       136897.80  471784.10  Dhaka  192261.83
1         0.983359       151377.59  443898.53    Ctg  191792.06

In [5]:
# selecting multiple column name in a list
cols_to_transform = ['Marketing Spend', 'Administration','Transport']
x1[cols_to_transform] = m.fit_transform(x1[cols_to_transform])
x1[cols_to_transform].head(2)

   Marketing Spend  Administration  Transport
0         0.692617        0.651744   1.000000
1         0.983359        0.761972   0.940893

In [6]:
# using for loop    
for col in cols_to_transform:
    x2[col] = m.fit_transform(x2[[col]])
x2.head(2)

   Marketing Spend  Administration  Transport
0         0.692617        0.651744   1.000000
1         0.983359        0.761972   0.940893

# Standardization

In [7]:
from sklearn.preprocessing import StandardScaler
s = StandardScaler()

In [8]:
# selecting multiple columns in a list
cols_to_transform = ['Marketing Spend', 'Administration','Transport']
x3[cols_to_transform] = s.fit_transform(x3[cols_to_transform])
x3[cols_to_transform].head(2)

   Marketing Spend  Administration  Transport
0         0.897913        0.560753   2.165287
1         1.955860        1.082807   1.929843

In [9]:
# using for loop
for col in cols_to_transform:
    x4[col] = s.fit_transform(x4[[col]])
x4.head(2)

   Marketing Spend  Administration  Transport
0         0.897913        0.560753   2.165287
1         1.955860        1.082807   1.929843

# Max abs scaler

In [10]:
from sklearn.preprocessing import MaxAbsScaler 
ma = MaxAbsScaler()

# selecting multiple columns in a list
cols_to_transform = ['Marketing Spend', 'Administration','Transport']
x5[cols_to_transform] = ma.fit_transform(x5[cols_to_transform])
x5[cols_to_transform].head(2)

   Marketing Spend  Administration  Transport
0         0.692617        0.749527   1.000000
1         0.983359        0.828805   0.940893

In [11]:
# using for loop
for col in cols_to_transform:
    x6[col] = ma.fit_transform(x6[[col]])
x6.head(2)

   Marketing Spend  Administration  Transport
0         0.692617        0.749527   1.000000
1         0.983359        0.828805   0.940893

# Robust Scaler

In [12]:
from sklearn.preprocessing import RobustScaler 
r = MaxAbsScaler()

# selecting multiple columns in a list
cols_to_transform = ['Marketing Spend', 'Administration','Transport']
x7[cols_to_transform] = r.fit_transform(x7[cols_to_transform])
x7[cols_to_transform].head(2)

   Marketing Spend  Administration  Transport
0         0.692617        0.749527   1.000000
1         0.983359        0.828805   0.940893

In [13]:
# using for loop
for col in cols_to_transform:
    x8[col] = r.fit_transform(x8[[col]])
x8.head(2)

   Marketing Spend  Administration  Transport
0         0.692617        0.749527   1.000000
1         0.983359        0.828805   0.940893